.SP__mainContainer {
    margin: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SP__container {
    width: 100%;
}
.SP__imagesBigCon {
    position: relative;
    display: grid;
    width: 100%;
    height: 300px;
    grid-gap: 2px;
    grid-template-areas:
    " a a b c"
    " a a d e"
    ;
}
.SP__imageDiv {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out;
    /* -webkit-filter: grayscale(0%);
    filter: grayscale(0%); */
    opacity: 1;
    z-index: 5;
}
#SP__imageDiv0 {
    grid-area: a;
}
.SP__imageDiv:hover {
    opacity: 0.87;
}
.SP__image {
    background-size: contain;
    height: 100%;
    width: 100%;
}
.SP__splittingCon {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.SP__infoCon {
    width: 50%;
}
.SP__resFormCon {
    margin-bottom: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.2px grey;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(207, 207, 207);
}
.SP__addImgDiv {
    position: absolute;
    background-color: #b8c5c2;
    top: 45%;
    left: 48%;
    border-radius: 20px;
    z-index: 6;
    border: none;
    /* display: none; */
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.SP__imagesBigCon:hover button {
    /* display: inline-block; */
    opacity: 1;
}
.SP__addImgIcon {
    background-image: url("../../icons/add.svg");
    background-size: contain;
    width: 31px;
    height: 34px;
    background-repeat: no-repeat;
}
.SP__resBtn {
    width: 70%;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #15ebb9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: hover 2s ease-in-out;
}
.SP__resBtn:hover {
    background-color: #17dfb0;
}
.SP__imgagesDiv {
    display: flex;
    align-items: center;
}
#SP__imgsfirstDiv {
    border-top: 0.5px solid rgb(197, 194, 194);
}
.SP__images {
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.SP__stateImg {
    background-image: url("../../icons/useState.png");
}
.SP__addressImg {
    background-image: url("../../icons/address.png");
}
.SP__contentImg {
    background-image: url("../../icons/content.png");
}
.SP__reviewsMainCon {
    width: 100%;
    border-top: 0.5px solid rgb(197, 194, 194);
    height: auto;
}
.SP__reviewH2Div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.SP__reviewFormDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.SP__reviewFormDiv2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SP__reviewTextA {
    width: 100%;
    border-radius: 6px;
}
.SP__reviewContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 60%;
}
.image__delBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 45%;
    top: 45%;
    display: none;
    z-index: 20;
}
.image__delBtnImage {
    background-image: url("../../icons/delete.svg");
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}
.SP__imageDiv:hover button {
    display: inline-block;
}
.image__submitDelImg {
    position: absolute;
    right: 40%;
    top: 20%;
}
