.homePage__itemsBigContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 35px 0;
}
.homePage__itemsContainer {
    width: 90%;
}
.homepage__itemImgDiv {
    margin: 5px;
    border-radius: 15px;
    overflow: hidden;

    width: 240px;
    /* width: 100%; */
    height: 240px;
}
.homepage__itemImgDiv img {

    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;

    height: 100%;
}

.Homepage__item {
    display: flex;
    justify-content: space-around;
}
.Homepage__items {
    position: relative;
    width: 100%;

}
.HomePage__itemsLeftArrowDiv {
    left: 0px;
}
.HomePage__itemsRightArrowDiv {
    right: 0px;
}
.HomePage__itemsArrows {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 38%;
    border-radius: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: -0.5px 0.5px 10px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}
.HomePage__itemsArrows:hover {
    box-shadow: -0.5px 0.5px 10px 4px rgba(0,0,0,0.5);
}
.HomePage__itemsLeftArrow {
    background-image: url("../../icons/left-arrow.png");
    background-size: contain;
    width: 50%;
    height: 50%;
}
.HomePage__itemsRightArrow {
    background-image: url("../../icons/right-arrow.png");
    background-size: contain;
    width: 50%;
    height: 50%;
}
