.mainContainer {
    margin: 0;
}
.user__postsBigContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
}
.user__reservationsBigContainer {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}
.user__upperContainer {
    width: 100%;
    height: 45vh;
    min-height: 330px;
    background: linear-gradient(to right top,#6cdbeb, #65dfc9, #15EBB9);
    /* #6cdbeb old color */
    display: flex;
    justify-content: center;
}
.user__upperGlass {
    margin-top: 100px;
    width: 80%;
    height: 60%;
    position: relative;
    /* background: none;
    backdrop-filter: blur(100rem); */
    /* z-index: 1; */
}
.user__upperInfo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    /* background: white; */

    /* z-index: 10; */
}
.user__upperCircle {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    /* z-index: 1; */
}
.circle1 {
    top: -10%;
    right: -5%;
}
.circle2 {
    bottom: -10%;
    left: -6%;
}
.user__upperImg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.user__upperShowMenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 26px;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    border-top: solid 1px white;
}
.user__btnsDiv {
    display: flex;
    flex-direction: column;
}
.user__btnsDiv:hover {
    cursor: pointer;
}
.user__btnsUnderlines {
    background-color: white;
    /* width: 35%; */
    height: 5px;
}
/* .user__upperShowMenu div {
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: solid 7px white;
} */
.user__contentMainDiv {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.user__contentDiv {
    width: 80%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 10px 5px rgb(207, 207, 207);
}
.user__pTagDiv {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user__pTagDiv > p {
    color: grey;
}
.user__contentDiv p {
    margin: 20px;
}
.user__contentDiv strong {
    margin: 20px;
    /* height: 100%; */
}
.user__bioIconDivbg {
    background: linear-gradient(to right top,#6cdbeb, #65dfc9, #15EBB9);

    height: 100%;
    /* width: 100px; */
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.user__bioIconDiv {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin: 0;
}
.user__bioIconImg {
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: 0;
}
.user__contentImg {
    background-image: url("../../icons/textWhite.svg");
}
.user__typeImg {
    background-image: url("../../icons/listWhite.svg");
}
.user__userImg {
    background-image: url("../../icons/userwhite.svg");
}
.user__postTypes {
    margin: 10px;
    min-height: 16px;
    /* background-color: #C1C1C1; #F7F9FC */
    background: linear-gradient(to left,#e7e6e6, #e9e7e7);
    border-radius: 2px;
}
.user__postTypes p {
    padding: 7px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}
.user__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__contentTitleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.user__contentTitle {
    width: 90%;
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 550;
}


