.nav__bigContainer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    /* background-color: transparent; */
    background-color: rgba(63, 61, 61, 0.3);
    margin: 0;
    position: fixed;
    z-index: 1;
}
.navBar__homeIconLink {
    min-width: 220px;
    height: 75px;
    position: relative;
    /* margin-left: 30px; */
}
.navBar__homeIcon {
    width: 180px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    position: absolute;
    top: -30px;
    left: 10px;
}
.navBar__homeIconWhite {
    background-image: url("../../icons/allbnbhome.svg");
}
.navBar__homeIconBlue {
    background-image: url("../../icons/allbnb1.svg");
}
.navBar__userAuth {
    position: absolute;
    right: 30px;
    top: 69px;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -0.5px 0.5px 10px 4px rgba(0,0,0,0.25);
}
.navBar__userAuth button {
    width: 100%;
    border: none;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    color: black;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 34px;
    font-size: 14px;
    overflow: hidden;
}
.navBar__userAuth button:hover {
    background-color: rgb(243, 242, 242);
}
.navBar__userIconBtn {
    border: none;
    background-color: transparent;
    width: 45px;
    height: 30px;
    /* margin-right: 55px; */
    min-width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}
.navBar__userIcon {
    width: 45px;

    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-top: 12px; */
}
.navBar__userIcon3 {
    width: 30px;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}
.navBar__userIconWhite {
    background-image: url("../../icons/userwhite.svg");
}
.navBar__userIconBlue {
    background-image: url("../../icons/user3.png");
}
#navBar__searchDiv {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.navBar__searchDiv2 {
    position: relative;
    width: 85%;
}
#searchBar {
    border: 0;
    border-radius: 500px;
    color: #000;
    height: 50px;
    width: 90%;
    padding: 6px 48px;
    text-overflow: ellipsis;
    box-shadow: 0px 0px 20px rgb(189, 186, 186);
}
#searchBar:focus {
    outline: none;
}
.navBar__searchIconDiv {

    width: 36px;
    height: 36px;
    position: absolute;
    left: 7px;
    top: 9px;
    background-color: #15EBB9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar__searchIcon {
    width: 55%;
    height: 55%;
    background-image: url("../../icons/loupe.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-filter: invert(100%);
}

/* .navBar__userBtns a {
    padding: 0;
    margin: 0;
} */
#searchBar {
    width: 100%;
}
.navBar__searchDropDown {
    position: absolute;
    right: 40px;
    top: 0px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar__sessionUserDiv {
    background-color: white;
    width: 77px;
    height: 40px;
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBar__sessionUserImgDiv {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar__sessionUserImgDiv img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.navBar__sessionUserImg {
    background-image: url("../../icons/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    -webkit-filter: invert(35%);
}
